<div class="row justify-content-center">
  <div class="col-7">
    <form (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
      <div class="form-outline mb-4">
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          class="form-control"
          ngModel
          required
          placeholder="Old password"
        />
      </div>

      <div class="form-outline mb-4">
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form-control"
          ngModel
          required
          placeholder="New password"
        />
      </div>

      <div class="form-outline mb-4">
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          ngModel
          required
          placeholder="Confirm new password"
        />
        <div *ngIf="passwordsMatch()" class="text-danger">
          Passwords do not match.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-3">Update</button>
    </form>
  </div>
</div>
