input {
    border-radius: 50px;
    width: 5.4%;
    height: 7%;
    font-size: smaller;
}

.btn {
    background-color: #0C3253ff;
    border-color: #0C3253ff;
    font-weight: 600;
    border-radius: 20px;
}

.custom-btn:hover {
    background-color: #2C4C73ff;
    border-color: #2C4C73ff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}