<div class="homepage-container">
    <div class="row vertical-center">
      <div class="col-md-6 text-center">
        <div class="content-container">
          <h2>Did you know?</h2>
          <h5>An ergonomic workplace can boost your productivity by up to 25%!</h5>
          <h5>Simply provide your measurements, and let the program craft your ideal ergonomic workspace with precision.</h5>
          <button class="btn btn-primary custom-btn" (click)="moveToCalculator()">Try it!</button>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/desk.png" alt="Your Image" class="img-fluid">
      </div>
    </div>
  </div>