<div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Read This Before Moving Forward</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <p>It's <strong style="color: #E9751Eff;">important</strong> that you measure exactly as shown in the guidelines. Please ensure you carefully follow these instructions:</p>
        <ul>
          <li>You will need a <strong style="color: #FFA500;">measurement tape</strong>.</li>
          <li>Make sure you are sitting comfortably with your <strong style="color: #FF6347;">back straight</strong>.</li>
          <li>Your knees should be bent at a <strong style="color: #32CD32;">90-degree</strong> angle.</li>
          <li>Your <strong style="color: #4169E1;">feet</strong> should be fully <strong style="color: #4169E1;">flat on the ground</strong>.</li>
        </ul>
        <p>Measuring yourself precisely can be challenging, so <strong style="color: #FF4500;">assistance</strong> from another person would be beneficial.</p>
        <p>Maintaining the correct posture and using the proper equipment is crucial for accurate measurements.</p>
        <div class="center-image text-center">
          <img src="assets/tape.png" alt="Equipment for measuring" style="width: 50%; max-width: 300px;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary custom-btn" data-bs-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
