/* CSS HEX
--sandy-brown: #F69D45ff;
--cocoa-brown: #E17638ff;
--pumpkin: #E9751Eff;
--black: #000000ff;
--alabaster: #D5DDD2ff; */


/* CSS HEX
--caribbean-current: #24757Dff;
--pumpkin: #E9751Eff;
--red: #FF0000ff;
--prussian-blue: #0C3253ff;
--sandy-brown: #F69D45ff; */


* {
    font-family: 'Open Sans', sans-serif;
}
